@{
    ViewData["Title"] = "Profile";
}

<body>
    <section class="grid">
        <div class="grid-container">
            <div class="personalia-container">
                <img class="personalia-container__photo" src="~/Images/personal-photo.jpg" />
                <div class="personalia-container__info">
                    <h3 style="margin-top: 15px; margin-bottom: 5px">Over mij</h3>
                    <p class="p">Naam: Naoki Huisman</p>
                    <p class="p">Leeftijd: 20 jaar</p>
                    <p class="p">Email: naokihuisman@student.windesheim.nl</p>
                </div>

                <div class="personalia-container__socialmedia">
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                    <a href="https://instagram.com/naokihuisman" target="_blank" class="fa fa-instagram fa-lg"></a>
                    <a href="https://www.linkedin.com/in/naoki-huisman-bb64091b6" target="_blank" class="fa fa-linkedin fa-lg"></a>
                    <a href="https://www.facebook.com/profile.php?id=100070510574895" target="_blank" class="fa fa-facebook fa-lg"></a>
                    <a href="https://localhost:7261/Contact" class="fa fa-envelope fa-lg"></a>
                </div>
            </div>
            <div class="profile-container">
                <div class="profile-content__category">
                    <h2 class="profile-content__category-title">Opleidingen</h2>
                    <hr>
                </div>

                <div class="profile-content__element">
                    <div class="profile-content__element-header">
                        <h4 class="profile-content__title">Havo</h4>
                        <p class="profile-content__period">sept 2014 - jul 2020</p>
                    </div>
                    <p class="profile-content__institute">Bornego College, Joure & Heerenveen</p>
                </div>

                <div class="profile-content__category">
                    <h2 class="profile-content__category-title">Werkervaring</h2>
                    <hr>
                </div>

                <div class="profile-content__element">
                    <div class="profile-content__element-header">
                        <h4 class="profile-content__title">Fulfillment associate</h4>
                        <p class="profile-content__period">nov 2018 - feb 2023</p>
                    </div>
                    <p class="profile-content__institute">Groenovatie, Joure</p>
                </div>

                <div class="profile-content__element">
                    <div class="profile-content__element-header">
                        <h4 class="profile-content__title">Afwasser</h4>
                        <p class="profile-content__period">okt 2016 - mei 2020</p>
                    </div>
                    <p class="profile-content__institute">Wok Ming, Joure</p>
                </div>

                <div class="profile-content__element">
                    <div class="profile-content__element-header">
                        <h4 class="profile-content__title">Auto schoonmaker</h4>
                        <p class="profile-content__period">2015 - 2016</p>
                    </div>
                    <p class="profile-content__institute">Kaasboer Siebren, Spannenburg</p>
                </div>
            </div>
        </div>
    </section>
</body>