@using ChatView.Models.Contact;
@model Contact

@{
    ViewData["Title"] = "Contact";
}

<head>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>

<div class="contact-container">
    <h2 class="contact__info">
        Als je me wilt contacteren kan dat via het onderstaande formulier!
    </h2>
    <form asp-controller="Contact" asp-action="Create" method="post">
        <label asp-for="Topic">Onderwerp</label>
        <span asp-validation-for="Topic"></span> <br />
        <input type="text" id="Topic" name="Topic" /> <br /><br />

        <label asp-for="Email">E-mail adres</label>
        <span asp-validation-for="Email"></span> <br />
        <input type="text" id="Email" name="Email" />  <br /><br />

        <label asp-for="Message">Bericht</label>
        <span asp-validation-for="Message"></span> <br />
        <textarea type="text" name="Message" id="Message" maxlength="600"></textarea> <br /> <br />

        <div class="g-recaptcha" data-sitekey="6LfnNYokAAAAAP9rHM6dt1gl81VbnLPRzTnDzhRA"></div> <br />

        <input class="button" type="submit" value="Verstuur" />
    </form>
</div>


