<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ChatView</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ChatView.styles.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


</head>
<body>
    <header>
        <ul class="nav-bar page">
            <li class="nav-bar__item">
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="nav-bar__item">
                <a asp-area="" asp-controller="ChatView" asp-action="Index">ChatView</a>
            </li>
            <li class="nav-bar__item">
                <a asp-area="" asp-controller="Profile" asp-action="Index">Profile</a>
            </li>
            <li class="nav-bar__item">
                <a asp-area="" asp-controller="Contact" asp-action="Index">Contact</a>
            </li>
            @if (User.IsInRole("ADMIN"))
            {
                <li class="nav-bar__item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Admin">Admin</a>
                </li>
            }
            <partial name="_LoginPartial" />
        </ul>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            <a>&copy; 2023 - ChatView</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
