@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-bar__item-identity">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="button-logout">Logout</button>
            </form>
        </li>
        <li class="nav-bar__item-identity nav-mobile">
            <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
        </li>

    }
    else
    {
        <li class="nav-bar__item-identity">
            <a id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-bar__item-identity">
            <a id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
