@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    string videoUrl = (string)ViewData["VideoUrl"];
}

<script src="~/js/chatview.js" defer></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>

<div class="urlbox">
    <form asp-controller="ChatView" asp-action="DownloadVideo" method="post" autocomplete="off">
        <input type="text" id="URL" name="URL" placeholder="Youtube URL" /> <br /><br />
    </form>
</div>

<section class="video-player">
    <div class="video-container">
        <video id="videoplayer" controls>
            <source src=@videoUrl type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

    <span style="display: none" id="videoUrl" src="@videoUrl"></span>
</section>
