@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section class="video-player">
    <div class="video-container">
        <video id="myvideo" controls>
            <source src="~/videos/myvideo.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        @*<p>Current time: <span id="current-time"></span></p>*@
    </div>

</section>
