/*chatview*/

.room {
	display: none;
}

.urlbox {
	width: 30%;
	padding: 12px 20px;
	box-sizing: border-box;
	border-radius: 5px;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	position: absolute;
	outline: none;
	left: 6%;
}

.spinner {
	width: 20px;
	height: 20px;
	border: 4px solid;
	border-color: #3498db transparent #3498db transparent;
	border-radius: 50%;
	animation: spin 1.2s linear infinite;
	display: none; /* hide the spinner by default */
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}

.loading {
	opacity: 0.5; /* add opacity to the form when loading */
	pointer-events: none; /* disable form controls when loading */
}

	.loading .spinner {
		display: inline-block; /* show the spinner when loading */
	}

video {
	display: block;
	width: 960px;
	height: 540px;
	margin: 0 auto;
}

.video-container {
	position: absolute;
	top: 50%;
	left: 30%;
	transform: translate(-50%, -50%);
	width: 960px;
	height: 540px;
}

.video-mask {
	border-radius: 10px;
	overflow: hidden;
}

#play-button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	cursor: pointer;
}

input[type="range"] {
	width: 100%;
	height: 5px;
	margin: 10px 0;
	background-color: #ddd;
	border-radius: 5px;
	outline: none;
}

	input[type="range"]::-webkit-slider-thumb {
		-webkit-appearance: none;
		appearance: none;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background-color: #fff;
		border: 2px solid #ddd;
		cursor: pointer;
	}

.urlbox {
	display: inline-block;
	vertical-align: middle;
}

.button-urlbox {
	color: black;
	background-color: white;
	padding: 5px 5px;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	transition-duration: 0.4s;
	border: 2px solid #1e1e1e;
	border-radius: 5px;
	width: 70px;
	height: 40px;
	display: inline-block;
	margin: 5px;
}

	.button-urlbox:hover {
		background-color: #1e1e1e;
		color: white;
	}

.url-container {
	display: flex;
	align-items: center;
}
/**/

/*chat*/
.chatbox-container {
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 65%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
	background: #525355;
	padding: 15px;
	color: white;
	width: 400px;
	height: 510px;
}

/**/

/*users*/
.usersbox-container {
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 85%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
	background: #525355;
	padding: 15px;
	color: white;
	width: 310px;
	height: 510px;
}
/**/
