/*chatview*/

.room {
	display: none;
}

.roomcode {
	margin: auto;
	width: 400px;
	text-align: center;
	background-color: #525355;
	border-radius: 5px;
	padding: 10px;
}

	.roomcode h1 {
		color: white;
		margin: auto;
		vertical-align: middle;
	}

.urlbox {
	width: 30%;
	padding: 12px 20px;
	box-sizing: border-box;
	border-radius: 5px;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	position: absolute;
	outline: none;
	left: 6%;
}

.spinner {
	width: 20px;
	height: 20px;
	border: 4px solid;
	border-color: #3498db transparent #3498db transparent;
	border-radius: 50%;
	animation: spin 1.2s linear infinite;
	display: none; /* hide the spinner by default */
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}

.loading {
	opacity: 0.5; /* add opacity to the form when loading */
	pointer-events: none; /* disable form controls when loading */
}

	.loading .spinner {
		display: inline-block; /* show the spinner when loading */
	}

video {
	display: block;
	width: 960px;
	height: 540px;
	margin: 0 auto;
}

.video-container {
	position: absolute;
	top: 50%;
	left: 30%;
	transform: translate(-50%, -50%);
	width: 960px;
	height: 540px;
}

.video-mask {
	border-radius: 10px;
	overflow: hidden;
}

#play-button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	cursor: pointer;
}

input[type="range"] {
	width: 70%;
	height: 5px;
	margin: 10px 0;
	background-color: #ddd;
	border-radius: 5px;
	outline: none;
}

	input[type="range"]::-webkit-slider-thumb {
		-webkit-appearance: none;
		appearance: none;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background-color: #fff;
		border: 2px solid #ddd;
		cursor: pointer;
	}

input[type=text] {
	width: 75%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 5px;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	outline: none;
}

.urlbox {
	display: inline-block;
	vertical-align: middle;
}

.button-urlbox {
	color: black;
	background-color: white;
	padding: 5px 5px;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	transition-duration: 0.4s;
	border: 2px solid #1e1e1e;
	border-radius: 5px;
	width: 70px;
	height: 45px;
	display: inline-block;
	margin: 5px;
}

	.button-urlbox:hover {
		background-color: #1e1e1e;
		color: white;
	}

.button-message {
	color: black;
	background-color: white;
	padding: 5px 5px;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	transition-duration: 0.4s;
	border: 2px solid #1e1e1e;
	border-radius: 5px;
	width: 70px;
	height: 45px;
	display: inline-block;
	margin: 5px;
}

	.button-message:hover {
		background-color: #1e1e1e;
		color: white;
	}

.url-container {
	display: flex;
	align-items: center;
}
/**/

/*chat*/
.chatbox-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 65%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
	background: #525355;
	padding: 10px;
	color: white;
	width: 400px;
	height: 520px;
	align-items: flex-start;
	display: inline;
}

.chatbox-textbox {
	width: 70%;
}

.messagelist {
	height: 440px;
	width: auto;
	word-wrap: break-word;
	overflow: auto;
}
/**/
/*users*/
.usersbox-container {
	position: absolute;
	top: 50%;
	left: 85%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
	background: #525355;
	padding: 10px;
	color: white;
	width: 310px;
	height: 520px;
	overflow: auto;
	display: flex;
	flex-direction: column;
}

	.usersbox-container h2 {
		color: white;
	}

.list {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
	margin: 5px 0 0 0;
}

	li select {
		float: right;
	}

/**/

@media (max-width: 650px) {
	body {
		width: auto;
	}

	input[type=text] {
		margin: 5px;
		width: 70%;
	}

	.container-wrapper {
		display: flex;
		flex-direction: column;
	}

	.url-container {
		margin: 10px 0;
	}

	.urlbox {
		padding: 0;
		width: 80%;
		margin: 0;
	}

	.button-urlbox {
		margin: 5px;
		padding: 0;
		float: left;
	}

	.video-container {
		all: unset;
	}

	video {
		margin: 60px 0 0 0;
		height: auto;
		width: 100%;
		object-fit: fill;
		position: absolute;
	}

	.chatbox-container {
		width: 100%;
		height: 300px;
		left: unset;
		transform: none;
		padding: unset;
		margin-top: 0;
		display: inline;
	}

	.messagelist {
		height: 235px;
		width: inherit;
		word-wrap: break-word;
		overflow: auto;
		padding: 0 0 0 5px;
	}

	.button-message {
		padding: 0;
		float: right;
		position: absolute;
	}

	.usersbox-container {
		flex-wrap: nowrap;
		height: auto; /* Reset height to auto to allow containers to expand horizontally */
		top: 0%;
		align-items: start;
		justify-content: space-between;
		display: none;
	}

	.roomcode {
		margin: auto;
		width: 150px;
		text-align: center;
		background-color: #525355;
		border-radius: 5px;
		padding: 5px;
	}

		.roomcode h1 {
			color: white;
			margin: auto;
			vertical-align: middle;
			font-size: 12px;
		}

	.footer {
		display: none;
	}
}
