/*room lobby*/
.room-container {
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 15px;
	background: #333333;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
	padding: 15px;
	color: white;
	width: 400px;
	height: 510px;
}

.button-room {
	color: black;
	background-color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	transition-duration: 0.4s;
	border: 2px solid #1e1e1e;
	border-radius: 15px;
}

	.button-room:hover {
		background-color: #1e1e1e;
		color: white;
	}

/**/
